In [43]:
#exercise 문자열

In [29]:
article = """Congratulations to Chelsea and Roman Abramovich on completing the set of club trophies on the Russian’s watch with victory in the Club World Cup.

It is a fantastic achievement.

But let’s not forget it is an achievement which has come at a cost of roughly £5billion, a sum that has done as much to overheat and distort the global football market as any other.

In the National League, the fifth tier of English football, I know of a team paying £7,000 a week to a player in order to ‘compete’."""

In [41]:
print (article[0])
##해당하는 위치 문자열 출력
print (article[-1])
##-1,-2,-3...는 가장뒤에서 부터 순서대로

C
.

In [39]:
print (article.count("Chelsea"))
##몇번 나오는지
print (len(article))
##길이
print (article.find("Chelsea"))
##몇번째 나오는지
print (article.replace("Chelsea", "Chelsea FC"))
##단어교체

1
494
19
Congratulations to Chelsea FC and Roman Abramovich on completing the set of club trophies on the Russian’s watch with victory in the Club World Cup.

It is a fantastic achievement.

But let’s not forget it is an achievement which has come at a cost of roughly £5billion, a sum that has done as much to overheat and distort the global football market as any other.

In the National League, the fifth tier of English football, I know of a team paying £7,000 a week to a player in order to ‘compete’.

In [42]:
string1 = "pangryeol"

In [45]:
print (string1[2:5])
##2번째 ~ (5-1)번째

ngr

In [46]:
string2 = "   pangryeol.  "

In [47]:
print (string2)
string2.strip()
##문자열에서 제거하고자 하는 부분 제거

   pangryeol.

'pangryeol.'

In [55]:
print ("My name is {1} I'm {0} years old.".format(26, "Gwangryeol"))
## 빈칸 뚫린칸에 숫자는 format에 순서를 이야기하는 것이며, format을 통하여 순서에 맞게 넣을 수 있다

My name is Gwangryeol I'm 26 years old.

In [57]:
num = 0.1234
print(format(num,".2f"))
## num 을 소수 둘째자리 까지만

0.12

#Exercise

In [67]:
num = 3.1415
print(format(num,".1f"))

3.1

In [68]:
num1 = '720'
print(int(num1))
num2 = 100
print(str(num2))

720
100

In [69]:
num1 = 6
num2 = 2
print(num1**num2)

36

In [78]:
num1 = int(input())
num2 = int(input())
print(num1+num2)

 2
 4

6

In [91]:
num1 = int(input())
num2 = int(input())
if num1>0 and num2>0:
    print("{}+{}={}".format(num1,num2,num1+num2))
    print(num1*num2)
    print(format(num1/num2,"0.1f"))
    print(num1//num2)
    print(num1%num2)
else:
    print("error")

 5
 4

5+4=9
20
1.2
1
1