In [43]:
#exercise 문자열

In [29]:
article = """Congratulations to Chelsea and Roman Abramovich on completing the set of club trophies on the Russian’s watch with victory in the Club World Cup.

It is a fantastic achievement.

But let’s not forget it is an achievement which has come at a cost of roughly £5billion, a sum that has done as much to overheat and distort the global football market as any other.

In the National League, the fifth tier of English football, I know of a team paying £7,000 a week to a player in order to ‘compete’."""

In [41]:
print (article[0])
##해당하는 위치 문자열 출력
print (article[-1])
##-1,-2,-3...는 가장뒤에서 부터 순서대로

C
.

In [39]:
print (article.count("Chelsea"))
##몇번 나오는지
print (len(article))
##길이
print (article.find("Chelsea"))
##몇번째 나오는지
print (article.replace("Chelsea", "Chelsea FC"))
##단어교체

1
494
19
Congratulations to Chelsea FC and Roman Abramovich on completing the set of club trophies on the Russian’s watch with victory in the Club World Cup.

It is a fantastic achievement.

But let’s not forget it is an achievement which has come at a cost of roughly £5billion, a sum that has done as much to overheat and distort the global football market as any other.

In the National League, the fifth tier of English football, I know of a team paying £7,000 a week to a player in order to ‘compete’.

In [42]:
string1 = "pangryeol"

In [45]:
print (string1[2:5])
##2번째 ~ (5-1)번째

ngr

In [46]:
string2 = "   pangryeol.  "

In [47]:
print (string2)
string2.strip()
##문자열에서 제거하고자 하는 부분 제거

   pangryeol.

'pangryeol.'

In [55]:
print ("My name is {1} I'm {0} years old.".format(26, "Gwangryeol"))
## 빈칸 뚫린칸에 숫자는 format에 순서를 이야기하는 것이며, format을 통하여 순서에 맞게 넣을 수 있다

My name is Gwangryeol I'm 26 years old.

In [57]:
num = 0.1234
print(format(num,".2f"))
## num 을 소수 둘째자리 까지만

0.12

#Exercise

In [67]:
num = 3.1415
print(format(num,".1f"))

3.1

In [68]:
num1 = '720'
print(int(num1))
num2 = 100
print(str(num2))

720
100

In [69]:
num1 = 6
num2 = 2
print(num1**num2)

36

In [78]:
num1 = int(input())
num2 = int(input())
print(num1+num2)

 2
 4

6

In [91]:
num1 = int(input())
num2 = int(input())
if num1>0 and num2>0:
    print("{}+{}={}".format(num1,num2,num1+num2))
    print(num1*num2)
    print(format(num1/num2,"0.1f"))
    print(num1//num2)
    print(num1%num2)
else:
    print("error")

 5
 4

5+4=9
20
1.2
1
1

In [18]:
location=[1,2,3,4]

In [19]:
location.append(6)
##항목 추가(가장뒷쪽으로, 단 하나)
location.insert(1, 100)
##1번 위치에 100 추가

In [20]:
print(location)

[1, 100, 2, 3, 4, 6]

In [21]:
location.remove(3) 
##or del location()

In [22]:
print(location)

[1, 100, 2, 4, 6]

In [23]:
location=list()
location.append('a')

In [26]:
location[0]

'a'

In [27]:
lang=["java","c","c++"]

In [31]:
lang.append("golang")

In [32]:
print(lang)

['java', 'c', 'c++', 'c++', 'golang']

In [33]:
##list.sort() : 오름차순
##list.reverse() : 내림차순

In [34]:
string="My name is Gwangryeol-Lee"
string=string.split()

In [35]:
print(string)

['My', 'name', 'is', 'Gwangryeol-Lee']

In [36]:
#조건문

In [41]:
age=int(input("age"))
if age>=19:
    print("Adult")
else :
    print("Kid")

age 19

Adult

In [44]:
cash=int(input("보유금액:"))
if cash>10000:
    print("레스토랑 선택가능")
elif cash>5000 and cash<=10000:
    print("햄버거집 선택가능")
else:
    print("유감")

보유금액: 10000

햄버거집 선택가능

In [47]:
age=int(input("나이:"))
if age>=19 :
    print("성인")
elif age>=13 and age<19:
    print("청소년")
elif age>=5 and age<13:
    print("아동")
else :
    print("유아")

나이: 2

유아

In [53]:
num1 = int(input("첫번째숫자"))
num2 = int(input("두번째숫자"))
if num1>num2:
    print("첫번째 숫자가 더 큽니다")
elif num1==num2:
    print("같은 숫자 입니다.")
else :
    print("두번째 숫자가 더 큽니다")

첫번째숫자 10
두번째숫자 20

두번째 숫자가 더 큽니다

In [54]:
num=int(input("입력"))
if num>0:
    if num%2==0:
        print("짝수입니다.")
    else:
        print("홀수입니다.")
elif num==0:
    print("0입니다")
else:
    print("음수입니다.")

입력 -3

음수입니다.

In [56]:
score=int(input("score:"))
if score>100:
    print("100점 만점의 시험입니다")
elif score<0:
    print("0점이 최저 점수입니다.")
else:
    if score>=81:
        print("A")
    elif score>=61:
        print("B")
    else :
        print("C")

score: 80

B

In [ ]:
data=input()
print("출생년도:",data[0:2])

 970411

출생년도: 97

In [59]:
data = input("주민번호는?")

print (data.split("-")[1][0])
### split을 통하여 "-"를 지우고 문자열이 나누어지고 배열에 저장이된다. 그후 나누어진 문자열의 1번index에 저장된 문자열을 가져오고, 가져온 문자열의 0번 index위치의 문자를 출력

주민번호는? 970411-1677215

1

In [64]:
data = input("주민번호는?(-를 포함하여 적어주세요)")
if data[6]=="-":
    if data[7]=='1' or data[7]=='3':
        print("남성")
    elif data[7]=='2' or data[7]=='4':
        print("여성")
    else :
        print("error")
else :
    print("조건을 확인하세요")

주민번호는?(-를 포함하여 적어주세요) 999999-2999999

여성

In [65]:
mystr = "a man goes into the room..."
print(mystr.strip("."))

a man goes into the room

In [69]:
code = '         000660\n            '
print(code.strip(" 0\n"))

66

In [71]:
python_desc = "Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace."
print(python_desc.count("Python"))

2

In [72]:
string=str(input())
var = string.find("n")
if var>=1:
    print("0")
else:
    print("-1")

 asdfasdfasdfasdfnasdfad

0

In [75]:
data=input("주민등록번호를 입력하세요 ( 단, - 를 포함하여 작성해주세요)")
data_digit=int(data[9:11])
print(data_digit)
if data_digit>=0 and data_digit<=8:
    print("출생지:서울")
elif data_digit>=9 and data_digit<=12:
    print("출생지:부산")
else :
    print("기타")

주민등록번호를 입력하세요 ( 단, - 를 포함하여 작성해주세요) 970411-111111

11
출생지:부산

In [76]:
string=input("과일종류를 ','를 포함하여 작성해주세요.")
print("과일종류 :",string.split(','))

과일종류를 ','를 포함하여 작성해주세요. 사과, 바나나, 딸기

과일종류 : ['사과', ' 바나나', ' 딸기']

In [82]:
string=input("Filename = ")
str_list=string.split(".")
print("확장자 :",str_list[1])

Filename =  dfasdfasdf.ppt

확장자 : ppt

In [83]:
#반복문

In [84]:
for i in ["a","b","c"]:
    print(i)

a
b
c

In [86]:
for i in range(3):
    print(i)

0
1
2

In [89]:
sum = 0
for i in range(1,11):
    sum += i
print(sum)

55

In [93]:
data=int(input())
if data>=2 and data<=9:
    for i in range(1,10):
        print(data,"*",i,"=",data*i)
else:
    print("2~9를 입력하세요")

 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [95]:
string=input("여러 이름을 ','을 포함하여 입력하세요")
string_data=string.split(",")
for i in string_data:
    print(i)

여러 이름을 ','을 포함하여 입력하세요 dad,fsd,sdfa

dad
fsd
sdfa

In [102]:
string=input("방문자를 기재하세요 (대괄호를 쓰거나 그냥 콤마를 이용하여 나누어주세요)")
for str_list in string.split(","):
    if str_list[0]=="[" and str_list[-1]=="]":
        print(str_list[1:-1])
    elif str_list[0]!="[" and str_list[-1]!="]":
        print(str_list)

방문자를 기재하세요 (대괄호를 쓰거나 그냥 콤마를 이용하여 나누어주세요) [ㅁㄴㅇㄹ],ㄹㅁㄴㅇㄹ,[ㄹㅁㄴㅇㄹㅁㄴㅇㄹ]

ㅁㄴㅇㄹ
ㄹㅁㄴㅇㄹ
ㄹㅁㄴㅇㄹㅁㄴㅇㄹ

In [110]:
num=int(input("1~n까지의 숫자 중에 3의 배수만 출력합니다. n을 설정하여주세요"))
if num>=1:
    for i in range(num):
        if (i+1)%3==0:
            print(i+1)
else :
    print("정수를 입력하여 주세요")

1~n까지의 숫자 중에 3의 배수만 출력합니다. n을 설정하여주세요 -1

정수를 입력하여 주세요

In [121]:
num=int(input("1~n까지의 모든숫자의 합을 구합니다. n을 설정하여 주세요. :"))
num_digit=num
sum_num=0
if num>=1:
    while num_digit>=1:
        sum_num=sum_num+num_digit
        num_digit=num_digit-1
print(sum_num)

1~n까지의 모든숫자의 합을 구합니다. n을 설정하여 주세요. : 10

55

In [123]:
pwd=int(input())
while 1:
    if pwd==4312:
        print("정답")
        break
    else :
        print("틀렸습니다. 다시 입력하여 주세요.")
        pwd=int(input())

 4111

틀렸습니다. 다시 입력하여 주세요.

 4312

정답

In [124]:
data = input()

while data != '4312':
    print ('비밀번호가 틀렸습니다.')
    data = input()

print ("비밀번호가 맞습니다.")

 4312

비밀번호가 맞습니다.

In [139]:
string=input("숫자(정수)를 , 를 포함하여 입력하세요")
string_list=string.split(",")
num_list=list(map(int,string_list))
plus_list=list()
for i in num_list:
    if i>=0:
        plus_list.append(i)
print(plus_list)

숫자(정수)를 , 를 포함하여 입력하세요 1,2,3,4,5,100,-12341234

[1, 2, 3, 4, 5, 100]

In [ ]:
string=input("글자길이 측정(각 항목을 ','를 활용하여 띄워주세요)")
str_list=string.split(",")
for len_data in str_list:
    print(len_data,":",len(len_data),"글자")

글자길이 측정(각 항목을 ','를 활용하여 띄워주세요) asdfasdf,fasdfadfasdfdsfa,as,asd

asdfasdf : 8 글자
fasdfadfasdfdsfa : 16 글자
as : 2 글자
asd : 3 글자

In [144]:
string=input("파일명.확장자(각 항목을 ','를 활용하여 띄워주세요)")
str_list=string.split(",")
ext_list=list()
for ext in str_list:
    if ext.split(".")[1]=="txt":
        ext_list.append(ext)
print(ext_list)

파일명.확장자(각 항목을 ','를 활용하여 띄워주세요) asdfas.pdf,asdf.txt,fasdfasdf.ppt,asd.txt

['asdf.txt', 'asd.txt']

In [146]:
###튜플은 선언한 데이터 추가, 삭제, 수정 불가능! 다만 튜플안에 데이터를 곱하고 더하고는 가능, 또한 튜플끼리 더하는것도 가능